/build/
/build-debug/
/build-release/
.cmake/
/CMakeFiles/
/CMakeCache.txt
/CTestTestfile.cmake
/Makefile
/cmake_install.cmake
/Testing/
/compile_commands.json
/*.o
/*.a
/*.so
/*.dll
/*.exe
/*.d
/*.obj
/*.pdb
/*.ilk
/*.log
/ppe
/ppe_gui
/ppe_tests
/build/
/build-debug/
/build-release/
.cmake/
/CMakeFiles/
/CMakeCache.txt
/CTestTestfile.cmake
/Makefile
/cmake_install.cmake
/Testing/
/compile_commands.json
/*.o
/*.a
/*.so
/*.dll
/*.exe
/*.d
/*.obj
/*.pdb
/*.ilk
/*.log
/ppe
/ppe_gui
/ppe_tests
.codex
